@import url("../../Root.css");

.add-product-to-cart {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  p {
    margin-block-end: var(--space-md);
  }

  .qty-Btns{
    width: 6rem;
    border: 1px solid var(--borderColor);
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;

    .product-qty-display,
    .qty-count {
      color: inherit;
      min-width: 0;
      &:focus {
        outline: none;
      }
    }

    .qty-display{
      text-align: center;
      appearance: textfield;
      height: 100%;

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        appearance: none;
        margin: 0;
      }
    }

    .qty-count {
      width: 100%;
      padding-block: var(--space-xs);
      color: rgb(150, 150, 150);
      font-size: 1.2lh;

      &:focus{
        color:var(--f-color);
      }
      
    }
  }
}

.put-in-cart-Btn {
  width: 100%;
  padding-block: var(--space-md);
  border: 1px solid var(--borderColor);
  font-family: var(--ff-body);
  font-size: var(--fs-body);
  margin-block: var(--space-lg);
  cursor: pointer;

  &:hover {
    text-decoration: underline;
    text-underline-offset: 0.3rem;
  }
}