@import url("../../Root.css");

.blog-overwiev {
  width: 100%;
  margin-block: var(--space-xl);
}

.blog-headline-overwiev {
  text-align: center;
  font-family: var(--ff-heading);


  h1 {
    font-size: var(--fs-heading);
    padding-block-end: var(--space-xl);
    color: var(--f-color);
    font-weight: 300;
  }
}

.blog-post-container {
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
}

@media (min-width: 768px) {
  .blog-post-container {
flex-direction: row;  }
  
}

.blog-post-link {
  text-decoration: none;
  flex:1;
  color: inherit;
  min-width: 0;
}

.blog-post {
  height: 100%;
  border: 1px solid var(--borderColor);
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
}

.picture-post img {
  border-bottom: 1px solid lightgray;
  aspect-ratio: 2/1;
  object-fit: contain;
  width: 100%;
  display: inline-block;
}

.user-blog-post {
  width: 100%;
  margin-inline: var(--space-xs);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.info-blog-post{
  flex: 1;
}

/*---- Headline ----*/
.user-info-blog-post {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: var(--space-xs);
}

.icon-blog-post {
  font-size: 2.2rem;
  color: rgb(90, 90, 90);
  display: flex;
}

.blog-metadates {
  display: flex;
  flex-direction: column;
  gap: calc(var(--space-xs)*0.5);
flex-grow:1 ;
  font-family: var(--ff-body);
  font-size: 0.70rem;
  color: var(--f-color);
}

.blog-time-row{
  display: flex;
  gap: calc(var(--space-xs)*0.5);
flex-wrap: wrap;
}



.icon-read-More {
  cursor: pointer;
  min-width: 0; 
  font-size: 1.2rem;
  color: var(--f-color);
  padding-inline: 4px;
  margin-inline-start: 0;
}

/*Blog-Content */
.info-blog-post {
  h2 {
    padding-block: var(--space-sm);
    font-family: var(--ff-heading);
    font-size: var(--fs-card-title);
    color: var(--f-color);
  }

  p {
    margin-block-start:var(--space-sm); 
    margin-block-end: var(--space-md);
    font-family: var(--ff-body);
    font-size: var(--fs-body);
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

/*Blog-Footer */
.footer-blog-post {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgb(210, 210, 210);
  color: var(--f-color);
  padding-block: var(--space-sm);
  gap: var(--space-xs);
}

  .meta-dates-blog {
    display: flex;
    gap: var(--space-sm);
  }

.number-saw-it,
.comments {
  font-family: var(--ff-body);
    font-size: var(--fs-body);

  
}


.likes {
  font-size: var(--fs-body);
  cursor: pointer;
  color: crimson;
  padding-inline: var(--space-sm);
}
