@import url("../Root.css");

.blog-overwiev {
  width: 100%;
  margin-block: var(--space-xl);
}

.blog-headline-overwiev {
  text-align: center;
  font-family: var(--ff-heading);


  h1 {
    font-size: var(--fs-heading);
    padding-block-end: var(--space-xl);
    color: var(--f-color);
    font-weight: 300;
  }
}

.blog-post-container {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.blog-post-link {
  text-decoration: none;
  flex:1;
  color: inherit;
  min-width: 0;
}

.blog-post {
  height: 100%;
  border: 1px solid var(--borderColor);
  display: flex;
  flex-direction: column;
}

.picture-post img {
  border-bottom: 1px solid lightgray;
  object-fit: cover;
  width: 100%;
  display: block;
}

.user-blog-post {
  margin-block: var(--space-sm);
  margin-inline: var(--space-xs);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.info-blog-post{
  flex: 1;
}

/*---- Headline ----*/
.user-info-blog-post {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 1005;
  gap: 5px;
}

.icon-blog-post {
  font-size: 2.2rem;
  color: rgb(90, 90, 90);
  display: flex;
}

.blog-metadates {
  display: flex;
  flex-direction: column;
  gap: calc(var(--space-xs)*0.5);
flex-grow:1 ;
  font-family: var(--ff-body);
  font-size: 0.70rem;
  color: var(--f-color);
}

.blog-time-row{
  display: flex;
  gap: calc(var(--space-xs*0.5));
  white-space: nowrap;
}



.icon-read-More {
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--f-color);
  padding-inline: 4px;
  margin-inline-start: 0;
}

/*Blog-Content */
.info-blog-post {
  h2 {
    font-family: var(--ff-heading);
    font-size: 1.3rem;
    color: var(--f-color);
    margin-block: 10px;
  }

  p {
    font-family: var(--ff-body);
    line-height: 1.5;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-block-start: var(--space-xs);
  }
}

/*Blog-Footer */
.footer-blog-post {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  border-top: 1px solid rgb(210, 210, 210);
  color: var(--f-color);
  font-size: 0.9rem;
  padding-block-start: var(--space-xs);
  gap: 16px;
}

  .meta-dates-blog {
    display: flex;
    gap: 30px;
  }

.number-saw-it,
.comments {
  font-family: var(--ff-body);
  
}


.likes {
  cursor: pointer;
  color: crimson;
  padding-inline: 4px;
  padding-block: 4px;
}
