@import url("../Root.css");

.collapsible {
  width: 100%;
  margin-inline: auto;
}
.toggleBtn {
  width: 100%;
  font-family: var(--ff-heading);
  font-weight: 700;
  color: var(--f-color);
  font-size: var(--fs-card-title);
  padding-block: var(--space-xs);
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.toggleBtn::after {
  content: "+";
  font-size: 1.2rem;
}

.collapsible.open .toggleBtn::after {
  content: "−";
}

.content-parent {
  overflow: hidden;
  transition: height 0.3s ease;
}

.content {
  padding: 1rem;
}
