@import url("../Root.css");

/* Contact Styling */
.contact {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border-top: 1px solid var(--borderColor);
  border-bottom: 1px solid var(--borderColor);

  h5 {
    font-family: var(--ff-heading);
    font-size: var(--fs-card-title);
    font-weight: 300;
    margin-block-start: var(--space-md);
    margin-block-end: var(--space-md);
  }

  div {
    padding: 20px 30px;
  }

  p {
    font-family: var(--ff-body);
    font-size: var(--fs-body);
    padding-block:0.2rem;
  }
}

.contact > div:not(:first-child) {
  border-left: 1px solid var(--borderColor);
}

.copyright {
  text-align: center;
  padding: 20px;
  font-family: var(--ff-body);
  font-size: var(--fs-body);
}
