@import url("../Root.css");

.header {
  position: static;
  display: grid;
  grid-template-columns: 100%;
  margin-bottom: -2px;
  height: auto;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(1, 1fr);
  gap: 8px;
}

.shippingInfo {
  background-color: var(--secondaryBackground);
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: calc(100% - 160px);
  display: flex;
  justify-content: center; /* Horizontal mittig */
  align-items: center; /* Vertikal mittig */

  span {
    font-family: var(--ff-body);
    text-size-adjust: 100%;
    text-align: center;
    line-height: 1.4em;
    color: rgb(255, 255, 255);
    font-size: 16px;
  }
}

.logoContainer {
  grid-row: span 2 / span 2;
  grid-row-start: 2;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: calc(100% - 160px);
  justify-content: center;
  align-items: center;
  cursor: pointer;

  /*   logo {
  
  } 
  */

  span {
    font-family: var(--ff-heading);
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.05em;
  }
}
