@import url("../Root.css");

.login {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  background: white;
  position: relative;
  width: 370px;
  height: 450px;
  color: var(--f-color);
  border-radius: 50px 5px;
  overflow: hidden;
}

.login-container::before,
.login-container::after {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 370px;
  height: 450px;
  background: linear-gradient(60deg, transparent, #45f3ff, #45f3ff);
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
}

.login-container::after {
  background: linear-gradient(60deg, transparent, #d9138a, #d9138a);
  animation-delay: -3s;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.signInForm {
  position: absolute;
  inset: 2px;
  z-index: 10;

  border-radius: 50px 5px;
  padding-block: var(--space-lg);
  padding-inline: var(--space-lg);
  display: flex;
  flex-direction: column;

}

.signInFeld{
    h1{
    font-size: var(--fs-subheading);
    font-family: var(--ff-heading);
    opacity: 0.9;
    color: var(--f-color);
    margin-block-end: var(--space-md);
  }
}

.input-box{
  width: 100%;
    margin-block-start: var(--space-md);

}


.closeButton {
  position: absolute;
  top: 10px;
  right: 15px;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.toggleText {
  margin-block-start: 15px;
  font-size: 0.9rem;
  text-align: center;
}
