@import url("../Root.css");

.search-product-form{
    width: 100%;
}

.search-product-form input[type="text"] {
  width: clamp(12rem,25vw,15rem);
  border: 2px solid #ccc;
  border-radius: 4px;
  font-family: var(--ff-body);
  font-size: var(--fs-body);
  background-image: url("/src/assets/SearchIcon.jpeg");
  background-position: var(--space-xs) center;
  background-size: auto 70%;
  background-repeat: no-repeat;
  padding-block: var(--space-sm);
  padding-inline-start: var(--space-lg);
    padding-inline-end: var(--space-sm);
  transition: width 0.4s ease-in-out;

  &:focus {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .search-product-form input[type="text"] {
    width: 100%;
  }
}

