@import url("../Root.css");

/* -------- Sidebar-Styling -------- */

.sidebar {
position: fixed;
  left: clamp(0.5rem, 2vw, 1.5rem);
  top: 50%;
  transform: translateY(-50%);
  width: auto;
  z-index: 10;

}

.sidebar a {
  display: block;
  text-align: center;
  padding: 5px;
  font-size: calc(var(--iconsize) * 0.6);
  color: var(--secondaryBackground);
}

