@import url("../Root.css");

/* -------- Sidebar-Styling -------- */

.sidebar {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
}

.sidebar a {
  display: block;
  text-align: center;
  margin-left: 20px;
  padding: 5px;
  font-size: var(--iconsize);
  color: var(--secondaryBackground);
}
