@import url("../Root.css");
@import url("./Footer.css");

.subscribe-content {
  text-align: center;
  border-top: 1px solid var(--borderColor);
  margin-block: var(--space-lg);
  padding-block: var(--space-lg);

  h3 {
    font-family: var(--ff-heading);
    font-size: var(--fs-subheading);
    font-weight: 300;
    margin-block-end: var(--space-md);
  }

  p {
    font-family: var(--ff-body);
  }
}

.subscribe-form {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 10px;
  margin-block-start: var(--space-md);

  button {
   font-family: var(--ff-body);
  color: #ffffff;
  cursor: pointer;
  font-size: var(--fs-body);
  background-color: var(--f-color);
  padding-block: var(--space-md);
  padding-inline: var(--space-lg);
  border: 1px solid var(--borderColor);
  margin-block-start: var(--space-md);
  transition-duration: 0.4s;
  flex-shrink: 0;

  &:hover {
    background-color: #ffffff;
    color: var(--f-color);
  }

  &:active {
    transform: scale(0.98);
  }
  }

  button:hover {
    background-color: var(--background);
    color: var(--secondaryBackground);
    opacity: 0.8;
  }
}

.input-group {
  display: flex;
  flex-direction: column;
  text-align: left;

  label {
    font-family: var(--ff-body);
    font-size: var(--fs-body);
     margin-block-start: var(--space-md);
  }

  input {
    width: 100%;
    outline: none;
    padding-block: var(--space-md);
    padding-inline: var(--space-sm);
    background-color: #f5f5f5;
    border: 1px solid var(--borderColor);
    font-size: var(--ff-body);
    font-family: var(--ff-body);
    cursor: pointer;
    box-sizing: border-box;
 
  }
}
