@import url("../Root.css");

.subscribe-content {
  width: 100%;
  text-align: center;
  border-top: 1px solid var(--borderColor);
}

.subscribe-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-block: var(--space-xl);
  margin-inline: var(--space-2xl);

  h3 {
    font-family: var(--ff-heading);
    font-size: calc(var(--fs-card-title) * 0.9);
    font-weight: 300;
  }

  p {
    font-family: var(--ff-body);
    font-size: calc(var(--fs-body) * 0.8);
    padding-block: var(--space-md);
  }
}

.subscribe-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr) auto;
  width: clamp(320px, 90vw, 700px);
  text-align: left;

  label {
    grid-column: 1/2;
    grid-row: 1;
    font-family: var(--ff-body);
    font-size: calc(var(--fs-body) * 0.8);
    padding-block: var(--space-sm);
  }

  input[type="email"] {
    grid-column: 1/-1;
    grid-row: 2;
    width: 100%;
    outline: none;
    padding-block: 0.5rem;
    padding-inline: var(--space-sm);
    background-color: var(--background);
    border: 1px solid var(--borderColor);
    font-size: calc(var(--fs-body) * 0.8);
    font-family: var(--ff-body);
  }

  .abo-newsletter {
    grid-column: 1/3;
    grid-row: 3;
    display: flex;
    align-items: center;
    cursor: pointer;

    label {
      font-family: var(--ff-heading);
      font-weight: 300;
      font-size: calc(var(--fs-body) * 0.8);
      padding-inline: var(--space-sm);
    }
  }

  button {
    grid-column: 3/4;
    grid-row: 3;
    font-family: var(--ff-body);
    color: #ffffff;
    cursor: pointer;
    font-size: calc(var(--fs-body) * 0.8);
    background-color: var(--f-color);
    padding-block: 0.6rem;
    padding-inline: var(--space-xxl);
    border: 1px solid var(--borderColor);
    margin-block-start: var(--space-sm);
    transition-duration: 0.4s;

    &:hover {
      background-color: #ffffff;
      color: var(--f-color);
    }

    &:active {
      transform: scale(0.98);
    }
  }
}
