@import url("../Root.css");

.updateForm {
  font-family: var(--ff-body);
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
}

.formRow {
  display: flex;
  align-items: center;
  width: 100%;
  gap: var(--space-xs);
}


.formRow label {
  width: 140px;
  flex-shrink: 0;
}

.updateForm input {
  border: 1px solid #d3d3d3;
  border-radius: 4px;
  font-family: inherit;
  width: 100%;
  padding-block: var(--space-xs);
  flex: 1;

  &:focus {
    outline: none;
    border-color: #aaa;
  }
}

.sendUpdateBtn {
  margin-block-start: var(--space-md);
  padding-block: var(--space-sm);
  width: 100%;
  cursor: pointer;
  background-color: var(--f-color);
  font-size: var(--fs-body);
  font-family: var(--ff-body);
  color: #ffffff;
  border: 1px solid var(--borderColor);
  transition-duration: 0.4s;

  &:hover {
    background-color: #ffffff;
    color: var(--f-color);
  }
  &:active {
    transform: scale(0.98);
  }
}
