@import url(https://db.onlinewebfonts.com/c/6dd2f2510b4a00a5461b2455928209c2?family=Brandon+Grot+W01+Light);

:root {
  /*Background-Colors*/
  --background: rgba(0, 0, 0, 0);
  --secondaryBackground: rgb(45, 45, 45);
  --background-cart: rgb(255, 255, 255);

  /*Border-Colors*/
  --borderColor: rgb(117, 117, 117);
  --borderColor-light:	rgb(220,220,220);

  /*Font-Colors*/
  --f-color: rgb(45, 45, 45);
  --f-color-white:rgb(255, 255, 255);


  /*Font-Family*/
  --ff-body: "Courier New", Courier, monospace;
  --ff-heading: "Brandon Grot W01 Light", sans-serif;

    /*Font-Size*/
--fs-heading: clamp(1.5rem, 3vw, 2.25rem);       
  --fs-subheading: clamp(1.25rem, 2vw, 1.75rem); 
  --fs-card-title: 1.25rem;                       
  --fs-body: 1rem;                                 
  --fs-small: 0.875rem;

  /*Spaces*/
  --space-xs: 0.2rem;
  --space-sm: 0.5rem;
  --space-md: 1rem;
  --space-lg: 2rem;
  --space-xl: 3rem;
  --space-xxl: 4rem;
  --space-2xl: 5.5rem;
  --space-3xl: 50rem;

  /*Lineheight*/
  --lh-heading: 110%;
  --lh-subheading:130%;
  --lh-body: 150%;

  /*generel Icon-Size*/
  --iconsize: 1.5lh;

  /*Table*/
  --subtle: #54a1a0;
  --poppy: #bd2a4e;

  /*Admin Avatar*/
  --green:#00B4BB;
  --blue: #4178BE;
  --text: #aaa;
  --circleSize: 4;
  --marginleft:8;
  --speed:0.25s;
}
