@import url(https://db.onlinewebfonts.com/c/6dd2f2510b4a00a5461b2455928209c2?family=Brandon+Grot+W01+Light);

:root {
  --background: rgba(0, 0, 0, 0);
  --secondaryBackground: rgb(45, 45, 45);
  --borderColor: rgb(117, 117, 117);

  --f-color: rgb(45, 45, 45);

  --ff-body: "Courier New", Courier, monospace;
  --ff-heading:  "Brandon Grot W01 Light", sans-serif;

  --fs-heading: clamp(1.75rem, 2.5vw, 2.5rem);
  --fs-subheading: clamp(1.5rem, 2vw, 2rem);
  --fs-card-title: 1.375rem;
  --fs-body: 1rem;

  --space-xs: 0.2rem;
  --space-sm: 0.5rem;
  --space-md: 1rem;
  --space-lg: 2rem;
  --space-xl: 3rem;
  --space-xxl: 4rem;
  --space-2xl: 5.5rem;
  --space-3xl:50rem ;

  --lh-heading: 1.1rem;
  --lh-body: 1.5rem;

  --iconsize: 1.5lh;

  /*Table*/
  --base: #5bb9b8;
  --subtle: #54a1a0;
  --rain: #2c3845;
  --poppy: #bd2a4e;
  

  

}
